<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBEAfKyQo_gue9K9IfQhf5Nxz9l_VnfiPs</string>
	<key>GCM_SENDER_ID</key>
	<string>911452778918</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aio</string>
	<key>PROJECT_ID</key>
	<string>tools-a75c2</string>
	<key>STORAGE_BUCKET</key>
	<string>tools-a75c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:911452778918:ios:08f09e570ce2cb8dcc5f67</string>
</dict>
</plist>